@model ErrorViewModel

@{
    if (Model == null)
    {
        ViewData["Title"] = "Error";

        <div>
            <h2>Ops! Something went wrong, but don't worry. We are working to solve this problem soon.</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }
}